@{
    Layout = "_Layout";
}

@model B13_MS_School.Models.Students;
<style>
    table, th, td {
        width: 700px;
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
    </tr>
</table>

