@{
    Layout = "StudentLayout";
}

<style>
    body {
        background-color:black;
    }

    table#t02, .t1 {
        width: 1000px;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border: 1px solid #ddd;
        padding: 8px;
        border-collapse: collapse;
        background-color: black;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .img {
        width: auto;
        height: 200px;
    }

    div {
        margin: 0 auto;
        max-width: 1000px;
    }
</style>
<body>
    <div>
        <table id="t02">
            <tr>
                <th class="t1">SL.</th>
                <th class="t1">Picture</th>
                <th class="t1">Information</th>
                <th class="t1">Department & Designnation</th>
            </tr>
            <tr>
                <td class="t1">1</tdclass="t1">
                <td class="t1"><img class="img" src="/images/1.jpg" /></td>
                <td class="t1">
                    Name: Md. Abdur Rahman<br />
                    Msc,Bsc in mathematics, JU
                    <br />Email: abdurrahman01@gmail.com<br />
                    Phone: 01724840207
                </td>
                <td class="t1">Principle<br /></td>
            </tr>
            <tr>
                <td class="t1">2</td>
                <td class="t1"><img class="img" src="/images/2.jpg" /></td>
                <td class="t1">
                    Name: Md. Aminul Islam<br />
                    Masters in Physics, NU<br />
                    Bsc in Physics, NU
                    <br />Email: aminul_isalm_15@gmail.com<br />
                    Phone: 01677048866
                </td>
                <td class="t1">Teacher<br /></td>
            </tr>
            <tr>
                <td class="t1">2</td>
                <td class="t1"><img class="img" src="/images/3.jpg" /></td>
                <td class="t1">
                    Name: Md. Nazim Uddin<br />
                    Bsc in English, NU
                    <br />Email: nazimuddinrazib@gmail.com<br />
                    Phone: 01521417510
                </td>
                <td class="t1">Teacher<br /></td>
            </tr>
        </table>
    </div>
</body>

